**/node_modules
**/.DS_Store
**/*.log
**/target
# keep Cargo.lock for reproducible Rust builds
# **/Cargo.lock
packages/**/tsconfig.tsbuildinfo
.githooks
.github
.git
pnpm-store
coverage
**/.vite
**/.turbo
**/dist
docs
!docs/data